@import '_variables.scss';

.card-img-top {
    height: 300px;
    width: 300px;
}

.card-flower-item {
    background: #e7c3bc;
}

.price {
    color: #ee4d2d;
    font-size: 1.875rem;
    font-weight: 500;
}