<div class="mt-4 ">
<form method="POST">
  <div class="form-group">
    <label for="search-input">Search</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa">
  
  <button type="submit" class="btn btn-primary mt-2">Tìm Kiếm</button>
</form>
</div>